<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <script type="text" id="vjsTest">
    <ul>
    <% for (var i = 0; i < data.length; i++) { %>
        <li>
        <%- data[i].name %>
        <% if (data[i].age) { %>
            <br><strong class="age"><%- data[i].age %></strong>
        <% } else { %>
            <br><font color="red">Unknown</font>
        <% } %>
        </li>
    <% } %>
    </ul>
    </script>
    <script src="../vjs.js"></script>
    <script>
    (function() {
        var data = [{
            name: 'jianghai',
            age: 24
        }, {
            name: 'zhouyang',
            age: 25
        }, {
            name: 'hanyu'
        }];
        var template = vjs(vjsTest.text);
        document.body.innerHTML = template(data);
    })();
    </script>
</body>
</html>